<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./css/styles.css">
  <title>Meme-Maker</title>
</head>

<body class="overflow-hidden">
  <div class="bg-container"></div>
  <div class="absolute-positioned">
    <h1 class="main-title">Meme editor</h1>
    <h2 class="title-helper">Use the arrows to select and space to click</h2>
  </div>

  <main class="editor">

    <canvas id="meme-canvas" width="500" height="500" data-img="<%= imgSrc %>"></canvas>
    <form id="meme-editor">
      <fieldset class="editor-section section-top txt" data-selected>
        <h1>Top Text</h1>
        <input type="text">
        <footer>
          <button class="section-button next" type="button">Next</button>
        </footer>
      </fieldset>

      <fieldset class="editor-section section-bottom txt">
        <h1>Bottom Text</h1>
        <input type="text">
        <footer>
          <button class="section-button previous" type="button">Previous</button>
          <button class="section-button next" type="button">Next</button>
        </footer>
      </fieldset>

      <fieldset class="editor-section section-top size">
        <h1>Top Text Size</h1>
        <input type="number" placeholder="Numbers add up">
        <footer>
          <button class="section-button previous" type="button">Previous</button>
          <button class="section-button next" type="button">Next</button>
        </footer>
      </fieldset>

      <fieldset class="editor-section section-bottom size">
        <h1>Bottom Text Size</h1>
        <input type="number" placeholder="Numbers add up">
        <footer>
          <button class="section-button previous" type="button">Previous</button>
          <button class="section-button next" type="button">Next</button>
        </footer>
      </fieldset>

      <fieldset class="editor-section section-top position">
        <h1>Top Text Position</h1>
        <button class="positioner top" type="button"></button>
        <footer>
          <button class="section-button previous" type="button">Previous</button>
          <button class="section-button next" type="button">Next</button>
        </footer>
      </fieldset>

      <fieldset class="editor-section section-bottom position">
        <h1>Bottom Text Position</h1>
        <button class="positioner bottom" type="button"></button>
        <footer>
          <button class="section-button previous" type="button">Previous</button>
          <button class="section-button next" type="button">Next</button>
        </footer>
      </fieldset>

      <fieldset class="editor-section section-bottom color">
        <h1>Top Text Color</h1>
        <input id="border-color" class="visuallyhidden" type="radio" name="text-part" value="border-color">
        <input id="body-color" class="visuallyhidden" type="radio" name="text-part" value="body-color" checked>
        <label for="body-color">Text</label>
        <label for="border-color">Text border</label>

        <div class="color-input-container">
          <label for="color-red">R</label>
          <input id="color-red" data-char="r" type="number" max="255" min="0" step="5" value="255">
        </div>

        <div class="color-input-container">
          <label for="color-green">G</label>
          <input id="color-green" data-char="g" type="number" max="255" min="0" step="5" value="255">
        </div>

        <div class="color-input-container">
          <label for="color-blue">B</label>
          <input id="color-blue" data-char="b" type="number" max="255" min="0" step="5" value="255">
        </div>

        <footer>
          <button class="section-button previous" type="button">Previous</button>
          <button class="section-button next" type="button">Next</button>
        </footer>
      </fieldset>
    </form>
  </main>
  <script src="./js/editor.js"></script>
</body>

</html>
