:root {
  --gradient-bg: linear-gradient(to top left, #00cc66 0%, #6600ff 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui, Arial, sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: initial;
}

*:disabled {
  opacity: .5;
}

.editor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 100vh;
  /* padding: 0 10%; */
  justify-content: center;
  align-items: center;
}

#meme-canvas {
  max-width: 700px;
  height: auto;
  border: solid 1px black;
  /* margin-left: auto; */
  margin: 0 auto;
}

#auto-position:checked ~ .input-container {
  display: none;
}

.visuallyhidden {
  position: absolute;
  z-index: -10;
  right: 105%;
  opacity: 0;
}

#meme-editor {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  /* float: right; */
}

.color-type {
  display: none;
}

.editor-section {
  display: none;
  margin-bottom: 1rem;
}

/* .section-toggler:focus + label {
  color: green;
} */
/* .section-toggler:checked + label {
  text-decoration: underline;
} */

.section-toggler:checked + label + .editor-section {
  display: block;
}

#section-type-rgb:checked ~ [for="section-type-rgb"] {
  color: blue;
}


#section-type-rgb:checked ~ .color-type.rgb {
  display: block;
}

#section-type-hsl:checked ~ [for="section-type-hsl"] {
  color: blue;
}
#section-type-hsl:checked ~ .color-type.hsl {
  display: block;
}

.input-container {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
}

.input-container input[type="text"],
.input-container input[type="number"] {
  font-size: 1em;
  background: #efefef;
  border: none;
  /* margin-top: .25em;/ */
  /* margin-bottom: .5em; */
  padding: .5em 1em;
}

/* .disable-next:checked ~ .input-container {
  display: none;
} */

.editor-section-title {
  font-size: 1.75em;
  background: rgba(19, 47, 91, .9);
  text-align: center;
  color: white;
  padding: .5em 0;
  border-bottom: solid .1em rgba(255,255,255,.3)
}

.editor-section-title::after {
  content: "";
  margin-left: .3em;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: .4em solid transparent;
  border-right: .4em solid transparent;
  border-top: .4em solid white;
  transition: transform .5s ease;
}

.section-toggler:focus + .editor-section-title {
  background: #fff468;
  color: rgba(19, 47, 91, .9);
}

.section-toggler:focus + .editor-section-title::after {
  border-left: .4em solid transparent;
  border-right: .4em solid transparent;
  border-top: .4em solid rgba(19, 47, 91, .9);
}
.section-toggler:checked + .editor-section-title::after {
  transform: rotateX(180deg);
}

#color-preview {
  width: 50px;
  height: 50px;
}


.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.content-center.vertical {
  flex-direction: column;
}

/* #start-button {
  font-size: 4rem;
  padding: .25em 1em;
  background: #5e9af9;
  border-radius: .25em;
  font-weight: bold;
  color: white;
  letter-spacing: .05em;
} */

#start-button {
  width: 100vw;
  font-size: 4rem;
  line-height: 1em;
  padding: calc( ( 100vh - 1em ) / 2 ) 0;
  text-align: center;
  position: relative;
  font-weight: bold;
  color: white;
  letter-spacing: .04em;
  /* background: linear-gradient(to top left, #00cc66 0%, #6600ff 100%); */
  background: var(--gradient-bg);
  animation: textGrow 1s linear infinite alternate;
}

@keyframes textGrow {
  0% {
    font-size: 3.5rem;
  }
  100% {
    font-size: 4rem;
  }
}

.img-form {
  display: flex;
  align-items: center;
  /* margin-top: 2rem; */
}

.img-upload-section {
  /* border: solid 1px blue; */
  display: flex;
  flex-direction: column;
  height: 15em;

  justify-content: space-between;
  padding: 2em;
  background: rgba(19, 47, 91, .9);
}

.img-form button:first-of-type {
  border-radius: 0 .25em .25em 0;
}

.img-form button {
  font-size: 2rem;
  padding: .25em 1em;
  background: #5e9af9;
  border-radius: .25em;
  font-weight: bold;
  color: white;
  letter-spacing: .05em;
  border: none;
}

.img-form input {
  font-size: 2rem;
  padding: .25em 1em;
  border: none;
  /* background: rgba(0,0,0,.05) */
  background: #efefef;
}
/* button:focus {
  outline: none;
  border: solid .2em #ffff84;
} */
#meme-background:focus + [for="meme-background"] {
  border: solid .2em #ffff84;
  /* box-sizing: border-box !important; */
}

.img-form input:required ~ button[type="submit"] {
  opacity: .5
}
.img-form input:required:valid ~ button[type="submit"] {
  opacity: 1
}
[for="meme-background"] {
  font-size: 2rem;
  padding: .25em 1em;
  /* background: rgba(0,0,0,.05); */
  background: #efefef;
  font-weight: bold;
  color: rgba(0,0,0,.7);
  letter-spacing: .05em;
  border: none;
  width: 100%;
  text-align: center;
}


@keyframes focusGrow {
  0% {
    transform: scale(1)
  }
  100% {
    transform: scale(1.2)
  }
}
.key-legend {
  position: fixed;
  bottom: 0;
  width: 50%;
}

.key-legend ul {
  font-size: 1.5em;
  background: #e7e7e7;
  padding: .5em 1em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.key-legend ul li {
  margin: .5em;
}

.bg-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--gradient-bg);
  z-index: -1;
}

#meme-templates {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
  min-width: 320px;
  max-width: 72rem;
  margin: 0 auto;
  background: rgba(0,0,0,.5)
}

#meme-templates .template {
  display: block;
  margin: 1rem;
  height: 350px;
  width: auto;

  opacity: .75;
  border: solid .5rem rgba(255,255,255,.5);
  transition: transform .2s ease;

}
#meme-templates a:focus {
  outline: none;
}
#meme-templates .template:hover,
#meme-templates a:focus .template {
  cursor: pointer;
  opacity: 1;
  border: solid .5rem white;
  transform: scale(1.1);
}

.editor-section {
  --ani-speed: .25s;
  display: block;
  font-size: 1.5rem;
  padding: 1em 2em;
  background: white;
  min-width: 320px;
  width: 40vw;
  border: none;
}

.editor-section.show {
  /* animation-name: show 1s linear forwards; */
  animation-name: show;
  animation-duration: var(--ani-speed);
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.editor-section.disappear {
  animation-name: disappear;
  animation-duration: var(--ani-speed);
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  /* animation: disappear 1s linear forwards; */
}

.editor-section:not([data-selected]) {
  display: none;
  /* animation-name: disappear;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards; */
  /* animation: disappear 1s ease forwards; */
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.editor-section h1 {
  margin-bottom: .5em;
  color: #2b2b2b;
}

.editor-section footer {
  display: flex;
  margin-top: 1.5em;
  justify-content: space-between;
}

.editor-section input[type="text"],
.editor-section input[type="number"] {
  width: 100%;
  font-size: inherit;
  height: 3em;
  padding: 0 .5em;
  letter-spacing: .04em;
  background: #f9f9f9;
  border: none;
  /* position: relative; */
  /* border-bottom: solid .1em rgba(0,0,0,.15) */
  /* box-shadow: inset 0px -2px 20px 0px rgba(0,0,0,0.1); */
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
}

.editor-section .positioner:not(.moving)::before {
  content: "Press space to start";
  display: block;
}

.editor-section .positioner.moving::before {
  content: "Press space to stop";
  display: block;
}

.section-button {
  font-size: 1.5em;
  display: block;
  border: none;
  padding: .5em 1em;
  background: var(--gradient-bg);
  font-weight: bold;
  letter-spacing: .04em;
  color: white;
  border-radius: 10em;
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
}
.section-button.previous {
  margin-right: 2em;
}
